<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liki24 article</title>
    <style>
        button {     
            color: #fff;       
            padding: 10px 50px;
            background-color: rgb(2, 190, 190);
            border: 1px solid black;
            border-radius: 8px;
        }
        button:hover {
            background-color: rgb(3, 114, 114);
        }
        button:active {
            background-color: #00eeff;
            color: #000;
        }
    </style>
</head>
<body>
    <article>
        <h1>Як і які вітаміни приймати під час планування та у процесі вагітності</h1>
        <q>
            Період вагітності та підготовки до неї – це відповідальний, щасливий та хвилюючий етап у житті жінки. Але разом із радісною думкою про вагітність перед жінкою постає і мільйон питань. Чи страшно народжувати? Чи сильно зміниться моє життя? Що потрібно купити для майбутнього малюка? Як підготуватися до грудного вигодовування? Чи потрібно приймати особливі вітаміни?
        </q>
        <div>
            <img src="https://liki24.com/image/catalog/vitamini-ukr.jpg" alt="Вітаміни фото" width="720">
        </div>
        <p>
            Звісно, на більшість цих питань відповість лікар, який “веде” вагітність. Але ми зараз допоможемо заздалегідь розібратися з одним із них – як і які вітаміни приймати під час планування та у процесі вагітності.
        </p>
        <h2>Навіщо потрібен додатковий прийом вітамінів вагітним?</h2>
        <p>Почнемо з невеликого теоретичного екскурсу. Вітаміни – це органічні речовини різної хімічної природи, які у невеликих кількостях необхідні для нормальної життєдіяльності різних систем організму.</p>
        <p>Вітаміни включаються:</p>
        <ul>
            <li>у роботу ферментів із перетравлення білків, жирів, вуглеводів;</li>
            <li>енергетичний обмін;</li>
            <li>процеси синтезу складних молекул тощо.</li>
        </ul>
        <p>Вони можуть руйнуватися під впливом світла, температури, повітря, кислот, алкоголю та інших чинників.</p>
        <p>Вітаміни не утворюються в організмі у достатній кількості, тому основний шлях їх надходження – продукти харчування. Згідно з сучасними науковими даними, середньостатистичній здоровій людині не потрібно додатково приймати вітаміни. Зазвичай вона отримує їх необхідну кількість зі свого раціону харчування.</p>
        <p>З розвитком фармацевтичної промисловості стало "модно" пити вітаміни для підтримки здоров'я, але через чутливу структуру молекул домогтися засвоєння синтетичних вітамінів досить складно. А це означає, що збалансований раціон залишається основним джерелом вітамінів.</p>
        <p>
            Проте з вагітними і жінками, які планують вагітність, справа інша. <strong>Потреба у вітамінах для вагітних зростає в 1,5-2 рази.</strong> Річ у тому, що вітаміни з природних “запасів” і ті, що надходять до організму жінки ззовні, витрачаються на забезпечення процесів життєдіяльності і матері, і плоду. При цьому плід інтенсивно зростає і потребує регулярного надходження мікронутрієнтів. Тільки вдумайтеся: з двох мікроскопічних клітин формується організм, який більший за зародок у 6 мільйонів разів!
        </p>
        <p>
            У вагітних також підвищена потреба у мікроелементах. Мікроелементи та вітаміни часто поєднують в одну групу, але це не зовсім коректно. Мікроелементи – це неорганічні хімічні елементи, які у дуже невеликих кількостях залучені до процесів життєдіяльності, наприклад залізо, йод та ін.
        </p>
        <h2>Ознаки нестачі вітамінів у вагітних</h2>
        <p>
            Стосовно прийому вітамінів під час вагітності часто можна зустріти дві крайності: небажання приймати будь-яку "хімію" та безрозбірне вживання "чарівних капсул". Однак у цьому важливому питанні все ж таки варто керуватися здоровим глуздом. Ігнорування збільшеної потреби організму у вітамінах може призвести до проблем, але й безконтрольний прийом вітамінно-мінеральних комплексів може вкрай негативно вплинути на перебіг вагітності та здоров'я плода.
        </p>
        <p>
            Згідно зі статистикою, найчастіше у вагітних розвивається дефіцит вітамінів групи В (В6, В1, В9). Нестача цих речовин призводить до розвитку гіповітамінозів, для яких характерні неприємні симптоми:
        </p>
        <ul>
            <li>відсутність апетиту;</li>
            <li>постійна втома;</li>
            <li>труднощі з концентрацією уваги;</li>
            <li>дратівливість;</li>
            <li>апатія;</li>
            <li>порушення сну та ін.</li>
        </ul>
        <p>
            Згодом нестача вітамінів може призвести до виснаження організму, порушення біохімічних та метаболічних процесів. Звичайно, не варто терпіти перелічені ознаки, адже погане самопочуття жінки з великою ймовірністю може позначитись і на розвитку плода. Але з іншого боку, потрібно вкрай уважно ставитися до прийому будь-яких добавок у період виношування дитини.
        </p>
        <h2>Які вітаміни потрібні під час планування вагітності?</h2>
        <p>Існує думка, що перед плануванням вагітності потрібно довго пити різні вітаміни. Однак це може бути справедливим лише щодо фолієвої кислоти (вітаміну В9).</p>
        <p>
            Також під час планування вагітності, як і до планування, у профілактичних дозах можна приймати вітамін D, йод, оскільки більшість людей мають дефіцити цих мікронутрієнтів (але перед їх прийомом необхідно обов'язково проконсультуватись у лікаря). І все ж таки головним головним “вітаміном вагітності” вважається фолієва кислота, оскільки вона бере участь у поділі клітин.
        </p>
        <h3>
            Фолієва кислота
        </h3>
        <p>
            <a href="https://liki24.com/uk/search/folievaja-kislota/"><b>Фолієва кислота </b></a> – це синтетична форма вітаміну групи В (В9), фолату, що зустрічається в природі. Фолати надходять в організм з їжею – особливо багаті ними свіжі зелень (шпинат, рукола), спаржа, капуста, горох і квасоля, яловича печінка, яйця, молоко. Тому при плануванні та під час вагітності потрібно включати ці продукти до свого раціону.
        </p>
        <blockquote>
            Додатковий прийом фолієвої кислоти на 90% знижує ризик дефектів нервової трубки плоду (зачатка центральної нервової системи). Дефекти нервової трубки призводять до серйозних інвалідизуючим захворюванням (заяча губа, вовча паща, вади серця, гідроцефалія, розумова відсталість), а іноді й до смерті плода.
        </blockquote>
        <p>Нервова трубка формується дуже рано, на 26-28-й день після зачаття, коли жінка з високою ймовірністю ще не знає про своє "цікаве становище". Тому фолієву кислоту потрібно починати пити перед плануванням вагітності (в ідеалі – за три місяці до періоду планування).</p>
        <p>
            Також можна зустріти рекомендації щодо прийому фолієвої кислоти всім жінкам репродуктивного віку, адже 40% усіх вагітностей належать до незапланованих.
        </p>
        <h3>
            Скільки потрібно пити фолієву кислоту (В9)?
        </h3>
        <p>
            Крім надходжень із продуктами харчування під час самої вагітності та планування необхідний додатковий прийом цього вітаміну. Добова доза <strong>400 мкг фолієвої кислоти</strong> зазвичай вважається достатньою для вагітних та плануючих вагітність, хоча іноді за призначенням лікаря може підвищуватися до 600-800 мг.
        </p>
        <p>
            Дозування у 400 мкг “фольки” можна приймати для профілактики протягом усього життя. Надлишки фолієвої кислоти не накопичуються в організмі та виводяться з нього. Для цієї мети призначені дієтичні добавки:
        </p>
        <ul>
            <li><a href="https://liki24.com/uk/search/folio/">Фоліо, SteriPharm</a>;</li>
            <li><a href="https://liki24.com/uk/p/folievaya-kislota-tabl-fl-100-solgar-vitamin-and-herb/">Фолієва кислота, Solgar</a>;</li>
            <li><a href="https://liki24.com/uk/p/folievaya-kislota-forte-tabl-025-g-30-farmakom-ptf-ooo/">Фолієва кислота, Фармаком</a>.</li>
        </ul>
        <p>
            <strong>Важливо!</strong> Жінкам з групи ризику може бути показаний прийом високих доз фолієвої кислоти – 1-5 мг. Високі дози містяться у лікарських (а не профілактичних) засобах. Прийом високих доз фолієвої кислоти необхідний за:
        </p>
        <ul>
            <li>наявності у сімейному анамнезі випадків дефектів нервової трубки;</li>
            <li>прийому певних лікарських засобів;</li>
            <li>мальабсорбції</li>
            <li>цукрового діабету;</li>
            <li>поліморфізму генів фолатного циклу;</li>
            <li>ожиріння;</li>
            <li>зловживання лікарськими засобами та/або алкоголем.</li>
        </ul>
        <p>
            <strong>
                Але запам'ятайте, що тільки гінеколог чи терапевт може оцінити індивідуальну потребу у фолієвій кислоті та підібрати дозування.
            </strong>
        </p>
        <p>
            Як було зазначено вище, фолієву кислоту дуже бажано почати пити до планування або хоча б під час планування вагітності. Високі дози вітаміну В9 можуть бути призначені лікарем до планування, під час планування та у першому триместрі вагітності (перші 12 тижнів). А потім протягом усієї вагітності (і життя) можна приймати по 400–800 мкг на добу.
        </p>
        <p>
            {bordered_text Результати багатьох досліджень підтверджують шкоду від прийому високих доз фолієвої кислоти <b>не за показаннями</b>. Тому ніколи не нехтуйте призначеннями лікаря й суворо дотримуйтеся їх.}
        </p>
        <blockquote>
            <strong>Важливо!</strong> Більшість препаратів фолієвої кислоти мають дозування 1 мг та вище. Тому будьте дуже уважними при виборі препарату.
        </blockquote>
        <h2>Які вітаміни треба пити при вагітності?</h2>
        <p>
            Якщо говорити про здорових жінки, то під час вагітності їм потрібно не так багато вітамінів, як прийнято вважати. Крім фолієвої кислоти (прийом якої не обговорюється), їм може знадобитися додатковий прийом вітаміну D та мікроелементів (йоду, заліза, поліненасичених кислот Омега-3).
        </p>
        <p>
            Стосовно інших вітамінів (наприклад, Е чи А) немає прямих рекомендацій призначати їх усім вагітним поспіль. Хоча для жінок з групи ризику додатковий прийом вітамінів може бути цілком виправданим, але виключно за показаннями.
        </p>
        <p>
            Підвищений ризик розвитку гіповітамінозу (дефіциту вітамінів, зокрема групи В) характерний для:
        </p>
        <ul>
            <li>багатоплідних вагітностей;</li>
            <li>вагітностей з інтервалом менше ніж 2 роки;</li>
            <li>жінок, які дотримуються вегетаріанської / веганської дієти або неповноцінно харчуються;</li>
            <li>наявність хронічних захворювань;</li>
            <li>надто повних або болісно худих жінок;</li>
            <li>вагітностей, які протікають із сильним токсикозом на ранніх термінах.</li>
        </ul>
        <div>
            <div>
                <div>
                    <img src="https://liki24.com/image/cache/catalog/product/newupload/80304-folievaya-kislota-tabl-fl-100-solgar-vitamin-and-herb-1-116x116.jpg?1668124656" alt="Фолієва кислота Solgar">
                </div>
                <div>
                    <a href="https://liki24.com/uk/p/folievaya-kislota-tabl-fl-100-solgar-vitamin-and-herb/">Фолієва кислота Solgar таблетки, №100</a>
                    <br>
                    <span>Солгар Вітамін енд Херб (США)</span>
                </div>
                <div>
                    <em>292 грн</em>
                    <br>
                    <button><b>Купити</b></button>
                </div>
            </div>
        </div>
    </article>
    
</body>
</html>