<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLX books category</title>
</head>
<body>
    <header>
        <h1>
            Головні терміни
        </h1>
        <dl>
            <div>
                <dt>
                    <a href="https://www.olx.ua/uk/dopomoga/vinnitsa/">
                        <img src="https://categories.olxcdn.com/assets/categories/olxua/dopomoga-1944-2x.png" alt="Допомога" width="88">
                    </a>
                </dt>
                <dd>
                    <a href="https://www.olx.ua/uk/dopomoga/vinnitsa/">Допомога</a>
                </dd>
            </div>
            <div>
                <dt>
                    <a href="https://www.olx.ua/uk/detskiy-mir/vinnitsa/">
                        <img src="https://categories.olxcdn.com/assets/categories/olxua/detskiy-mir-36-2x.png" alt="Дитячий світ" width="88">
                    </a>
                </dt>
                <dd>
                    <a href="https://www.olx.ua/uk/detskiy-mir/vinnitsa/">Дитячий світ</a>
                </dd>
            </div>
            <div>
                <dt>
                    <a href="https://www.olx.ua/uk/nedvizhimost/vinnitsa/">
                        <img src="https://categories.olxcdn.com/assets/categories/olxua/nedvizhimost-1-2x.png" alt="Нерухомість" width="88">
                    </a>
                </dt>
                <dd>
                    <a href="https://www.olx.ua/uk/nedvizhimost/vinnitsa/">Нерухомість</a>
                </dd>
            </div>
        </dl>
    </header>
    <aside>
        <div>
            <img src="#" alt="rating">
        </div>
        <div>
            <mark>Виділяйтеся як компанія!</mark>
            <span>Перегляньте пропозицію OLX для бізнесу</span>
        </div>
        <div>
            <a href="https://business.olx.ua/">Детальніше</a>
        </div>
    </aside>
</body>
</html>