<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinoptik weather table</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        footer {
            max-width: 500px;
        }
    </style>
</head>
<body>
    <header>
        <h1><b>Погода</b> <i>у Харкові</i></h1>
        <div>Обласний центр Харківської області</div>
    </header>
    <main>
        <table>

            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">Ніч</th>
                    <th colspan="2">Ранок</th>
                    <th colspan="2">День</th>
                    <th colspan="2">Вечір</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Температура, &#176;С</th>
                    <td>+16&#176;</td>
                    <td>+16&#176;</td>
                    <td>+15&#176;</td>
                    <td>+18&#176;</td>
                    <td>+18&#176;</td>
                    <td>+23&#176;</td>
                    <td>+20&#176;</td>
                    <td>+18&#176;</td>
                </tr>
                <tr>
                    <th>відчувається як</th>
                    <td>+16&#176;</td>
                    <td>+16&#176;</td>
                    <td>+15&#176;</td>
                    <td>+18&#176;</td>
                    <td>+18&#176;</td>
                    <td>+23&#176;</td>
                    <td>+20&#176;</td>
                    <td>+18&#176;</td>
                </tr>
                <tr>
                    <th>Тиск, мм</th>
                    <td>753</td>
                    <td>753</td>
                    <td>753</td>
                    <td>753</td>
                    <td>753</td>
                    <td>752</td>
                    <td>747</td>
                    <td>747</td>
                </tr>
                <tr>
                    <th>Вологість, &#37;</th>
                    <td>90</td>
                    <td>89</td>
                    <td>90</td>
                    <td>87</td>
                    <td>87</td>
                    <td>64</td>
                    <td>70</td>
                    <td>87</td>
                </tr>
                <tr>
                    <th>Вітер, м/сек</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>&#8663; 1.0</td>
                    <td>&#8664; 2.7</td>
                    <td>&#8659; 1.8</td>
                </tr>
                <tr>
                    <th>
                        Ймовірність 
                        <br>
                        опадів, &#37;
                    </th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>38</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
        <footer>
            <div>
                <p>
                    У Харкові хмарна погода трималася до самого вечора. Удень пішов дощ із грозою, проте ще до вечора він скінчився та більше у цей день не розпочнеться.
                </p>
                <p>
                    Народний прогноз погоди: У цей день вшановується пам'ять святителя Єпіфанія, архієпископа Кіпрського. Єпіфаній відомий як видатний церковний учитель і чудотворець. У давні часи помітили, якщо на Єпіфанія ранок у червоному кожусі (червоне небо під час сходу сонця), то літо буде сухим, пожежонебезпечним.
                </p>
            </div>
            <div>
                <img src="https://sinst.fwdcdn.com/img/weatherImg/b/d200.jpg" alt="weather picture" width="188">
                <span>+20 &#176;C</span>
            </div>
        </footer>

    </main>
</body>
</html>