<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSN news card list</title>
</head>
<body>
    <main>
        <section>
            <div>
                <figure>
                    <img src="https://img.tsn.ua/cached/124/tsn-28424b79aaed18622b3ebc9e28e9f35e/thumbs/404x202/71/ae/8e249a1531b0abbe60985f66cbe9ae71.jpeg" alt="birning car" width="323">
                </figure>
            </div>
            <div>
                <mark>Київ</mark>
            </div>
            <div>
                <strong>
                    В мордорі вибухнув бензовоз: загинув водій (фото)
                </strong>
            </div>
            <div>
                <time>15:01, 25.05.23</time>
                <date>23.04.2023</date>
                <span>12345</span>
            </div>
        </section>
    </main>
</body>
</html>