<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список новин urk.net</title>
</head>
<body>
    <header>
        <h1>
            <a href="https://www.ukr.net/news/main.html">Головне</a>
        </h1>
    </header>
    <main>
        <ul>
            <li>
                <a href="https://www.eurointegration.com.ua/news/2023/05/25/7162404/">
                    <ins>
                        Фінляндія направила новий пакет військової допомоги Україні на суму 109 млн євро
                    </ins>                            
                </a>  
                <small>
                    <a href="https://www.ukr.net/source/yevropejska-pravda-2364.html">(Європейська правда)</a>
                </small>                        
            </li>
            <li>
                <a href="https://hromadske.ua/posts/ukrayina-povernula-z-polonu-she-106-vijskovih">Україна повернула з полону ще 106 військових</a>
                <small>
                    <a href="https://www.ukr.net/source/hromadske-ua-3168.html">(Hromadske.ua)</a>
                </small>
                
            </li>
            <li>
                <a href="https://bykvu.com/ua/bukvy/lytva-posyliuie-kontrol-za-eksportom-pidsanktsiinykh-tovariv/">
                    <s>
                        Литва посилює контроль за експортом підсанкційних товарів
                    </s>
                </a>
                <small>
                    <a href="https://www.ukr.net/source/bukvi-3354.html">(Букви)</a>
                </small>                        
            </li>
        </ul>
    </main>
    <footer>
        <div>

        </div>
        <a href="https://www.ukr.net/news/main.html">
            <strong>
                всі головні події дня
            </strong>            
        </a>
    </footer>       
</body>
</html>