<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головний блк сторінки Wikipedia</title>
</head>
<body>
    <header>
        <section>
            <h1>
                Ласкаво просимо до 
                <a href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%BA%D1%96%D0%BF%D0%B5%D0%B4%D1%96%D1%8F"> <dfn>Вікіпедії</dfn>,</a>
            </h1>
            <div>
                вільної енциклопедії, яку 
                <a href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%BA%D1%96%D0%BF%D0%B5%D0%B4%D1%96%D1%8F:%D0%9B%D0%B0%D1%81%D0%BA%D0%B0%D0%B2%D0%BE_%D0%BF%D1%80%D0%BE%D1%81%D0%B8%D0%BC%D0%BE"><i>може</i> редагувати кожен</a>.
            </div>
            <div>
                <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%92%D1%96%D0%BA%D1%96%D0%BF%D0%B5%D0%B4%D1%96%D1%8F">Українська Вікіпедія</a>  
                заснована 
                <em>
                    <date>
                        <a href="https://uk.wikipedia.org/wiki/30_%D1%81%D1%96%D1%87%D0%BD%D1%8F">30 січня</a> 
                        <a href="https://uk.wikipedia.org/wiki/2004">2004</a>  року. 
                    </date>

                </em>
            </div>
            <div>
                <address>м. Київ, вул. Арсенальна 4</address>
            </div>
        </section>
        <section>
            <div>
                <mark>четвер,</mark>
                <date>
                    <a href="https://uk.wikipedia.org/wiki/25_%D1%82%D1%80%D0%B0%D0%B2%D0%BD%D1%8F">25 травня</a>  
                    <a href="https://uk.wikipedia.org/wiki/2023">2023</a>
                    року
                </date>  
            </div>
            <div>
                <strong>
                    <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B5%D1%86%D1%96%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0:%D0%A1%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0">1 265 079</a>
                </strong>
                  
                статей 
                <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%BC%D0%BE%D0%B2%D0%B0">українською</a> 
            </div>
            <div>
                <b>161 616</b>  зареєстрованих дописувачів
            </div>
            <div>
                <b>3776</b> з них активні останнього місяця
            </div>
        </section>
        
    </header>
    
</body>
</html>